.page {
  background-color: white;
  min-height: 300vh;
}

.container {
  background-color: rgb(183, 226, 233);
  min-height: 100vh;
}

.title {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  padding-top: 5%;
  z-index: 200;
}
